In [1]:
import geopandas as gpd
import pandas as pd
# Read the GeoPackage file
file_path = r"C:\Users\bsf31\Documents\post-meds\data\policy-data\zonal_statistics.gpkg"
data = gpd.read_file(file_path)

# Calculate the sum of each unique value in the "grupo" column for the "_count" column
sum_by_grupo = data.groupby("grupo")["_count"].sum()

In [2]:
data

,anho_capa,put_id,fecha_res,grupo,_count,_sum,geometry
0,2000,PUT0176,2000-01-19 00:00:00,BOSQUES,869.0,285.0,"MULTIPOLYGON (((288618.472 7557270.352, 284617..."
1,2000,PUT0176,2000-01-19 00:00:00,AREA_AUTORIZADA,3212.0,1585.0,"MULTIPOLYGON (((288514.818 7557351.170, 287973..."
2,2000,PUT0176,2000-01-19 00:00:00,OTRAS_COBERTURAS,54.0,45.0,"POLYGON ((284716.252 7557780.159, 284852.744 7..."
3,2000,PUT0176,2000-01-19 00:00:00,BOSQUES,1781.0,1200.0,"POLYGON ((284611.274 7558299.026, 284608.955 7..."
4,2000,PUT0511,2000-02-01 00:00:00,BOSQUES,70.0,70.0,"POLYGON ((156279.122 7584595.904, 156277.771 7..."
...,...,...,...,...,...,...,...
62352,2008,PUT1629,2008-07-29,unclassified,82080.0,7848.0,"MULTIPOLYGON (((389959.015 7613998.761, 389988..."
62353,2011,PUT2054,2011-02-09,unclassified,36205.0,332.0,"POLYGON ((360283.961 7691927.987, 360300.250 7..."
62354,2000,PUT3427,2000-09-18,unclassified,7080.0,4509.0,"POLYGON ((204999.418 7429921.748, 202510.756 7..."
62355,2008,PUT1359,2008-12-10,unclassified,24063.0,295.0,"POLYGON ((218754.674 7368873.500, 218742.786 7..."
62356,2009,PUT1757,2009-08-04,unclassified,41226.0,4626.0,"MULTIPOLYGON (((341035.512 7678337.503, 341034..."

In [3]:
data['_sum'].sum()

24674036.13456888

In [4]:

# Print the result
print(sum_by_grupo)

grupo
AREA_AUTORIZADA             2.736061e+07
BOSQUES                     3.159996e+07
EN_CONFLICTO                3.160000e+02
OTRAS_COBERTURAS            7.280079e+06
OTRAS_TIERRAS_FORESTALES    1.808511e+06
unclassified                1.634524e+07
Name: _count, dtype: float64

In [5]:
data['_count'].sum()

84394715.1157445

In [6]:

data = {
    'wkt_geom': ['NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL'],
    'zone': [1, 2, 3, 4, 5, 6],
    'deg2': [1.9872519213311282, 2.2919144984374116, 2.302286407644849e-05, 0.5283181538632765, 0.13121514612347884, 1.1844808193964422],
    'sum': [12953184, 6545872, 58, 967965, 90708, 4098488],
    'count': [27362315, 31557190, 317, 7274371, 1806691, 16309023],
    'min': [0, 0, 0, 0, 0, 0],
    'max': [1, 1, 1, 1, 1, 1],
    'mean': [0.4733950325475019, 0.20742886169522698, 0.1829652996845426, 0.1330651131211207, 0.050206703858047666, 0.2513018713628646]
}

df = pd.DataFrame(data)
df

  wkt_geom  zone      deg2       sum     count  min  max      mean
0     NULL     1  1.987252  12953184  27362315    0    1  0.473395
1     NULL     2  2.291914   6545872  31557190    0    1  0.207429
2     NULL     3  0.000023        58       317    0    1  0.182965
3     NULL     4  0.528318    967965   7274371    0    1  0.133065
4     NULL     5  0.131215     90708   1806691    0    1  0.050207
5     NULL     6  1.184481   4098488  16309023    0    1  0.251302

In [7]:
df['sum'].sum()

24656275

In [8]:
df['count'].sum()

84309907

In [9]:
84309907 + 24656275

108966182

In [10]:
#count - sum = total # of zeros and ones - total # of ones = total of # of zeros
84309907 - 24656275

59653632

In [15]:
# converstion of cells from 30msq to hectares
df['total_area'] = df['count'] * 0.09

# Calculate the percentage sum is of the difference
df['deforested_area'] = df['sum'] * 0.09

df['grupo'] = ['area_autorizada', 'bosques', 'en_conflicto', 'otras_coberturas', 'otras_tierras_forestales', 'unclassified']
df

,wkt_geom,zone,deg2,sum,count,min,max,mean,total_area,deforested_area,grupo
0,NULL,1,1.987252,12953184,27362315,0,1,0.473395,2462608.35,1165786.56,area_autorizada
1,NULL,2,2.291914,6545872,31557190,0,1,0.207429,2840147.10,589128.48,bosques
2,NULL,3,0.000023,58,317,0,1,0.182965,28.53,5.22,en_conflicto
3,NULL,4,0.528318,967965,7274371,0,1,0.133065,654693.39,87116.85,otras_coberturas
4,NULL,5,0.131215,90708,1806691,0,1,0.050207,162602.19,8163.72,otras_tierras_forestales
5,NULL,6,1.184481,4098488,16309023,0,1,0.251302,1467812.07,368863.92,unclassified

In [17]:
(2219064.75 / 7587890.63) * 100

29.24481727802658